/*予約フォーム・予約完了ページ共通*/
#content {
  padding-top: 0;
}

.-series .l-header__logo {
  margin-top: auto;
}

@media (min-width: 960px) {
  .c-headLogo {
    height: 148px;
  }
}

/*コンテンツ幅以下*/
@media (max-width: 1280px) {
  #content {
    margin-top: 0px !important;
  }
}

/*下層ページ共通END*/

div#breadcrumb {
  background: #ffffff;
  margin-top: 4em;
}
